
.mainSection {
    max-width: 1440px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin:  0 auto;
    margin-top: 50px;
    column-gap: 10px;
    position: relative;

}