

.userTools {
    background-color: aliceblue;
    padding: 15px;
    width: 250px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: 10px;
}

.userToolsTitle {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.userTools li {
    list-style: none;
    border-bottom: 1px solid rgb(184, 213, 238);
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.1s ease
}

.userTools li:hover {
    text-shadow:#3e8dd7 1px 0 10px; ;
}
